<p id="notice"><%= notice %></p>

<h2>
  Name: <%= @category.name %>
</h2>

<div class="items_container">
  <ul>
    <% @items.each do |item| %>

        <li>
          <%= item.content %>
          <%= link_to 'Item Completed', [item.category, item],
               data: { confirm: 'Delete this completed item?'} ,
               method: :delete %>
        </li>

    <% end %>
  </ul>

</div> <!-- end of comment container div -->

<h4>Add an Item:</h4>
<%= form_for([@category, @category.items.build]) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Delete List', @category, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', categories_path %>
